
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: cadetblue;


}


.board {
    background-color:粉色;
}

.title {
    font-family:楷体;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}

table {
    border-spacing: 1px;
    background-color: bisque;
    margin: 0 auto;
}


.game-pane a  {
    font-family:楷体;
    font-size: large;
    font-weight: bold;
}


.tips {
    color: black;
    font-family:楷体;
    font-size: 16 px;
    font-weight: bold;
}


.game-pane {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;

    box-shadow: 2px 2px 2px #ccc;
}

.cell {
    background-color: #ccc;
    width: 1.5em;
    height: 1.5em;

    border-style: outset;

    text-align: center;

    user-select: none;
}


.clear {
    border-style: solid;
    border-color: #eee;
    background-color: #eee;
}

.game-pane a {
    padding: 5px 15px;
    color: rgb(26, 12, 12);
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

    


.cell.landmine {
    background-color: orange;
    background: #ccc url(../-1.0/8bac5ee88de91a501d45321181257d3.jpg)no-repeat center;
    background-size: cover;
}

.cell.landmine.exploded {
    background-color: red;
}

.cell.landmine.success {
    background-color: green;
}

.flag {
    background: #ccc url(../-1.0/微信图片_20211217203512.jpg)no-repeat center;
    background-size: cover;
}